.ascend
.env
plugin_sdk/target
__pycache__/
*.py[cod]
build
guest-uploads
node_modules
dist
dist-ts
bun.lock
src/tcp/routes
output
input
src/extension-data.json
workflows-available
extensions-available
private-extensions
uv.lock
extensions-untested

envs/*
workflows-enabled/*



# Except these workflows
!workflows-enabled/test.nyno
!workflows-enabled/test_nyno.nyno 
!workflows-enabled/test_nyno_runners.nyno


# ignore container created db
pgdata


package-lock.json
